body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #10ed2e;
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    max-width: 500px;
    padding: 9px;
    margin: 5px;
    border: 5px solid black;
    gap: 5px;
    
}

.displayPlayer{
    grid-column: span 3;
    text-align: center;
    margin: 3px;
    padding: 15px 10px;
    font-size: 1.5em;
    color: #da1317;
    background-color: #fff;
    border: 3px solid black;
}


.displayComputer{
    grid-column: span 3;
    text-align: center;
    margin: 3px;
    padding: 15px 10px;
    font-size: 1.5em;
    color: #5f0ae8;
    background-color: #fff;
    border: 3px solid black;
}


button {
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    margin: 3px;
    border: 3px solid black;
}

button:active {
    color: blue;
    border: 3px solid red;
}

@media (max-width: 860px) {
    .instruction {
        max-width: 500px;
        margin: 40px auto; /* Змінено значення margin */
    }

    .instruction img {
        max-width: 100%; /* Зменшення розміру картинки до ширини контейнера */
        height: auto;
    }
}

@media (max-width: 540px) {
    .instruction {
        max-width: 400px;
        margin: 35px auto; /* Змінено значення margin */
    }

    .instruction img {
        max-width: 100%; /* Зменшення розміру картинки до ширини контейнера */
        height: auto;
    }
}


@media (max-width: 420px) {
    .instruction {
        max-width: 300px;
        margin: 30px auto; /* Змінено значення margin */
    }

    .instruction img {
        max-width: 100%; /* Зменшення розміру картинки до ширини контейнера */
        height: auto;
    }

    .game{
        max-width: 345px;
        margin: auto;
    }

    button{
        padding: 5px;
    }
}

@media (max-width: 380px){
    button{
     margin: 1px;
     padding: 3px;
    }
}

@media (max-width: 350px) {
    .instruction {
        max-width: 280px;
        margin: 20px auto; /* Змінено значення margin */
    }

    .instruction img {
        max-width: 100%; /* Зменшення розміру картинки до ширини контейнера */
        height: auto;
    }

    button{
        font-size: 1.2em;
        padding: 2px;
    }
}